@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:wght@300;400&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}

.main {
    background-color: bisque;
    color: black;
    font-weight: lighter;
}

.main h1 {
    margin-left: 10px;
}

.sidebar {
    background-color: lightpink;
}

.blogitem {
    margin: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}

.blogitem h1 {
    margin: 25px;
}

.blogitem {}

.btn-btn-sm {
    margin-top: 30px;
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(250, 250, 253);
    background-color: blue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 4px;
    cursor: pointer;

}

.btn-btn-sm:hover {
    background-color: rgb(250, 250, 253);
    color: blue;

}